In [5]:
import pandas as pd
from PYbleau import PYbleau
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [6]:
df_hawaii_measurements = pd.read_csv('data/hawaii_measurements.csv')
df_hawaii_stations = pd.read_csv('data/hawaii_stations.csv')

In [7]:
quickeda = PYbleau()

In [8]:
#checking for missing values in both datasets
quickeda.py_mv_dataframe(df_hawaii_measurements)

In [9]:
#checking for missing values in both datasets
quickeda.py_mv_dataframe(df_hawaii_stations)

In [10]:
#drop missing values in df_hawaii_measurements dataframe
df_hawaii_measurments_drop = df_hawaii_measurements.dropna()

#check for to see if all nan values have been dropped
#There were no duplicates in the df_hawaii_meeasurments dataset
quickeda.py_mv_dataframe(df_hawaii_measurments_drop)

<h3>Save Both dataframes as CSV files</h3>

In [11]:
df_hawaii_measurments_drop.to_csv('clean_hawaii_measurments.csv',index=False)
df_hawaii_stations.to_csv('clean_hawaii_stations.csv',index=False)