In [45]:
import pandas as pd

In [46]:
df_clean_hawaii_measurments = pd.read_csv('data/clean_hawaii_measurments.csv')
df_clean_hawaii_stations = pd.read_csv('data/clean_hawaii_stations.csv')

In [47]:
df_clean_hawaii_measurments.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [48]:
df_clean_hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [49]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData 
from sqlalchemy.ext.declarative import declarative_base #make a base for the tables 

from sqlalchemy import Column, Integer, Text, Float,ForeignKey#adds dtypes to columns

In [50]:
# Create db
engine = create_engine('sqlite:///hawaii.sqlite')

In [51]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [52]:
#Create a base for the tables
Base = declarative_base()

# Define our  measurments and station tables for hawaii.sqlite db
class Measurments(Base):
    __tablename__ = 'measurments'
    measurment_num = Column(Integer,primary_key=True)
    station = Column(Text,ForeignKey('stations.station'))
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Stations(Base):
    __tablename__ = 'stations'
    station = Column(Text,primary_key=True,)
    name = Column(Text)
    latitude = Column(Float)
    longitude= Column(Float)
    elevation = Column(Float)

In [53]:
# Create Tables
Base.metadata.create_all(engine)

In [54]:
data_station = df_clean_hawaii_stations.to_dict(orient='records')
data_measurements =df_clean_hawaii_measurments.to_dict(orient='records')

In [55]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [56]:
table_station = sqlalchemy.Table('stations', metadata, autoload=True)
table_measurements = sqlalchemy.Table('measurments', metadata, autoload=True)

In [57]:
conn.execute(table_measurements.insert(), data_measurements)

In [58]:
conn.execute(table_station.insert(), data_station)